body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h1.guide,
h1.soon {
    font-size: 42px;
    font-weight: 300;
}


p a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: gray;
}

p.copyright {
    text-align: right;
}
